::selection {
  background-color: #002144;
  color: #feda48;
}
a{
  text-decoration: none;
  color: #fff;
}
a:hover{
  text-decoration: none;
}
a:visited{
  color: #fff;
}
body {
  font-family: lores-15-bold-alt-oakland, fixed-width;
  overflow-x: hidden;
  overflow-y: hidden;
}

td, th {
  padding: 1%;
  width: 25%;
}

td {
  line-height: 1.5rem;
}

th {
  background-color: #002144;
  color: #feda48;
}

tr:nth-child(1n){
  background: #007bc2;
  color: #feda48;
}

tr:nth-child(2n){
  background: #002144;
  color: #feda48;
}

td:nth-child(3n){
  font-style: italic;
}

td:nth-child(1){
  font-size: 125%;
}

.syllabus-gui-window-content::-webkit-scrollbar{
  width: 1em;
  height: 100%;
}

.syllabus-gui-window-content::-webkit-scrollbar-track{

}

.syllabus-gui-window-content::-webkit-scrollbar-thumb{    
  background: #222;
}

#syllabus-bg-container{
  background-color: #002144;
  width: 100%;
  min-height: 100%;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  font-family: lores-21-serif, sans-serif;
}
.syllabus-gui-window{
  width: 50%;
  height: auto;  
  resize: both;
  max-height: 70%;
  overflow: auto;
  position: absolute;
  min-width: 250px;
  min-height: 250px;
  z-index: 10;
}

.syllabus-gui-window a {
  color: #feda48;
  border-bottom: #feda48 dashed 2px;
  text-decoration: none;
}
.syllabus-gui-window a:hover { 
  color: #feda48;
  text-decoration: none;
  border-bottom: none;
}
.syllabus-gui-window a:visited {
  color: #feda48;
}

#syllabus-contract-window a, #syllabus-document-window a {
  color: blue;
  border-bottom: blue dashed 2px;
}

#syllabus-contract-window a:visited, #syllabus-document-window a:visited {
  color: blue;
}

.syllabus-gui-window-title{
  font-family: lores-15-bold-alt-oakland, fixed-width;
  width: inherit;
  max-height: 40px;
  min-height: 40px;
  color: #fff;
  background-color: #002144;;
  border: 5px solid #fff;
  padding: 5px;
  position: fixed;
}
.syllabus-gui-window-title-text{
  float: left;
}
.syllabus-gui-window-title-controls{
  float:right;
  margin-top: -17px;
  font-size: 25pt;
}
.syllabus-gui-window-title-controls:hover{
  cursor: pointer;
}
.syllabus-gui-window-content{
  background-color: #fff;
  color: #000;
  padding: 10px;
  resize: both;
  overflow-y: scroll;
  padding-top:40px;
  scrollbar-width: thick;
  scrollbar-color: gray gray;
}
#syllabus-icon-grid{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  width: 50%;
  height: 50%;
  margin: auto auto;
  -ms-transform: translateY(25%);
  transform: translateY(25%);
}
#syllabus-icon-grid > div{
  padding: 20px 0;
  margin: auto;
}
#syllabus-icon-grid > div:hover {
  cursor: pointer;
}
.syllabus-icon-grid-logo {
  grid-column: 1 / 4;
}
.syllabus-icon-grid-logo img{
  max-width: 150px;
}

.syllabus-icon-grid-entry{
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.syllabus-icon-grid-entry img {
  max-width: 64px;
}

.syllabus-icon-grid-entry-text{
  margin-top: 2%;
  padding: 5px;
  color: #fff;
  border: #002144 dotted 2px;
}
.syllabus-icon-grid-entry-selected {
  background-color: #00a9e7;
  border: dotted 2px #fff;
}

#syllabus-schedule-window table {
  width: 100%;
}

#course-tos-bug{
  font-family: lores-15-bold-alt-oakland, fixed-width;
  position: fixed;
  top: 10%;
  left: 10%;
  height: auto;
  color: #fff;
  padding: 1rem;
  z-index: 7;
}

#course-trash{
  font-family: lores-15-bold-alt-oakland, fixed-width;
  position: fixed;
  top: 0;
  left: 0;
  height: auto;
  color: #fff;
  padding: 1rem;
  z-index:8;
}

.syllabus-gui-free-range-icon:hover{
  cursor: pointer;
}

@media only screen and (max-width: 1024px) {
  body{
    overflow-y: scroll;
    height: inherit;
  }
  h1 {
    font-size: calc(1.5rem + 3.0vh) !important;
    margin: 5% 0 !important;
  }
  h2 {
    font-size: calc(1.5rem + 2.5vh) !important;
    margin: 5% 0 !important;
  }
  h3 {
    font-size: calc(2.5rem + 2.0vh) !important;
    margin: 5% 0 !important;
  }
  h4 {
    font-size: calc(2.0rem + 1.5vh) !important;
    margin: 5% 0 !important;
  }
  h5 {
    font-size: calc(1.75rem + 1.0vh) !important;
    margin: 5% 0 !important;
  }
  p {
    margin: 5% 0 !important;
  }
  table {
    font-size: calc(1.5rem + 1.25vh);
  }
  #syllabus-icon-grid{
    grid-template-columns: auto;
    transform: translateY(0%);
    font-size: calc(.5rem + 2.5vh);
    height: 100%;
  }
  .syllabus-icon-grid-logo{
    grid-column: 1;
  }
  .syllabus-icon-grid-logo img{
    max-width: 200px;
  }
  .syllabus-icon-grid-entry img {
    max-width: 150px;
  }
  .syllabus-gui-window{
    min-width: 250px;
    min-height: 250px;
    font-size: 2em;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    max-height: 100%;
    font-size: calc(1.5rem + 1.25vh);
  }
  .syllabus-gui-window-title{
    max-height: 75px;
    min-height: 75px;
    font-size: calc(1.5rem + 1vh);
  }
  .syllabus-gui-window-title-controls{
    float:right;
    font-size: calc(1.5rem + 2vh);
  }
  .syllabus-gui-window-content{
    padding-top: 75px;
  }
  
  .syllabus-gui-free-range-icon{
    display: none;
  }
}
